/*!
 * tip.css v1.0 tipbox 鎻愮ずICON/淇℃伅鎻愮ず灞�鎻愮ず鏂囨湰/鎻愮ず妗�
 * Adapted from aliceui
 * 缁勪欢娣诲姞 ui- 鍓嶇紑
**/
.tip-line {
	font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun",
		sans-serif
}

.ui-close,.tip-close {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 28px;
	height: 28px;
	overflow: hidden;
	line-height: 28px;
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40)
}

.ui-close:hover,.tip-close:hover {
	opacity: 0.8;
	filter: alpha(opacity = 80);
	text-decoration: none;
	color: #f00
}

.tip-icon,.tip-icon-big {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(/img/v4/tip-icon.png) -9999px -9999px no-repeat
}

.tip-icon,.tip-icon-big {
	*margin-right: 4px
}

.tip-icon-default,.tip-icon-info {
	background-position: 0 -34px
}

.tip-icon-warning {
	background-position: -15px -34px
}

.tip-icon-error {
	background-position: -30px -34px
}

.tip-icon-success {
	background-position: -45px -34px
}

.tip-icon-help {
	background-position: -60px -34px
}

.tip-icon-stop {
	background-position: -75px -34px
}

.tip-icon-wait {
	background-position: -90px -34px
}

.tip-icon-time {
	background-position: -105px -34px
}

.tip-icon-big,.tip-icon-big-default,.tip-icon-big-info,.tip-icon-big-warning,.tip-icon-big-error,.tip-icon-big-success,.tip-icon-big-help,.tip-icon-big-stop,.tip-icon-big-wait
	{
	width: 32px;
	height: 32px
}

.tip-icon-big-default,.tip-icon-big-info {
	background-position: 0 0
}

.tip-icon-big-warning {
	background-position: -33px 0
}

.tip-icon-big-error {
	background-position: -66px 0
}

.tip-icon-big-success {
	background-position: -99px 0
}

.tip-icon-big-help {
	background-position: -132px 0
}

.tip-icon-big-stop {
	background-position: -165px 0
}

.tip-icon-big-wait {
	background-position: -198px 0
}

.tip-icon-big-loading {
	width: 46px;
	height: 46px;
	background: url(/img/new_v/ui_scrollLoading/loadingGIF46px.gif)
		no-repeat
}

.poptip {
	position: absolute;
	z-index: 100;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0;
	padding: 5px 15px 5px 10px;
	line-height: 22px;
	font-size: 12px;
	color: #666;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: top;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1)
}

.poptip .tip-title {
	margin: 0.6em 0 0.4em
}

.poptip .tip-content {
	width: auto;
	max-width: 240px;
	min-width: 80px;
	overflow: hidden
}

.poptip .tip-content
em {
	font-style: normal
}

.poptip-mini {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	padding: 0 5px;
	height: 20px;
	line-height: 18px
}

.poptip-mini-warning {
	background: #f80;
	color: #fff
}

.tip-sharp {
	position: absolute;
	width: 0;
	height: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 0;
	font-size: 0;
	overflow: hidden
}

.tip-sharp-top,.tip-sharp-bottom {
	border-style: dashed dashed dashed solid;
	border-color: transparent transparent transparent #f80
}

.tip-sharp-left,.tip-sharp-right {
	border-style: dashed dashed solid dashed;
	border-color: transparent transparent #f80 transparent
}

.tip-sharp-top {
	top: -8px;
	left: 10px;
	border-width: 10px 0 0 10px
}

.tip-sharp-bottom {
	bottom: -8px;
	left: 10px;
	border-width: 0 0 10px 10px
}

.tip-sharp-left {
	top: 8px;
	left: -8px;
	border-width: 0 0 10px 10px
}

.tip-sharp-right {
	top: 8px;
	right: -8px;
	border-width: 0 10px 10px 0
}

.tipbox:after,.tiptext:after {
	clear: both;
	content: ' ';
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden
}

.tipbox,.tiptext {
	zoom: 1
}

.poptip p,.tipbox p,.tiptext
p {
	margin: 0
}

.tiptext {
	position: relative;
	margin: 5px 0 10px;
	padding: 5px 20px 5px 10px;
	line-height: 22px;
	font-size: 12px;
	color: #666;
	*zoom: 1;
	word-wrap: break-word;
	word-break: break-all
}

.tiptext .ui-close {
	top: -1px
}

.tiptext .tip-icon {
	position: relative;
	top: 3px;
	*top: 1px;
	margin-right: 5px;
	_margin-top: 4px;
	_margin-bottom: 4px;
	_vertical-align: middle
}

span.tiptext {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0
}

.tipbox {
	position: relative;
	margin: 10px 0;
	padding: 10px 30px 10px 10px;
	background: #f9f9f9;
	border: 1px solid #d4d4d4;
	font-size: 12px;
	line-height: 22px;
	z-index: 10;
	*zoom: 1;
	word-wrap: break-word;
	word-break: break-all
}

.tipbox .tip-content {
	padding: 10px 10px 5px 76px;
	min-height: 35px
}

.tipbox .tip-align {
	padding: 0 10px 0 76px
}

.tipbox .tip-title {
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 1;
	font-weight: bold
}

.tipbox .tip-color-title {
	margin: 7px 0 0 0;
	font-size: 16px;
	line-height: 1
}

.tipbox h3.tip-color-title {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: 400
}

.tipbox .tip-icon-big {
	position: absolute;
	top: 18px;
	left: 40px
}

.tipbox .tip-explain {
	color: gray
}

.tipbox .tip-icon-big-loading {
	left: 28px
}

.tip-border,.tip-default,.tip-gray {
	background: #f9f9f9;
	border: 1px solid #d9d9d9
}

.tip-border .tip-arrow em,.tip-default .tip-arrow em,.tip-gray .tip-arrow
em {
	color: #d9d9d9
}

.tip-border .tip-arrow i,.tip-default .tip-arrow i,.tip-gray .tip-arrow
i {
	color: #f9f9f9
}

.tip-light {
	background: #fff;
	border: 1px solid #ccc
}

.tip-light .tip-arrow
em {
	color: #ccc
}

.tip-light .tip-arrow
i {
	color: #fff
}

.poptip-orange {
	background: #ffffe0;
	border: 1px solid #ff8801
}

.poptip-orange .tip-arrow
em {
	color: #ff8801
}

.poptip-orange .tip-arrow
i {
	color: #ffffe0
}

.poptip-orange
b {
	color: #f60;
	padding: 0 2px
}

.tip-info {
	background: #e5f5ff;
	border: 1px solid #c9d5e2
}

.tip-info .tip-arrow
em {
	color: #c9d5e2
}

.tip-info .tip-arrow
i {
	color: #e5f5ff
}

.tip-warning {
	background: #ffffe0;
	border: 1px solid #ff8801
}

.tip-warning .tip-arrow
em {
	color: #ff8801
}

.tip-warning .tip-arrow
i {
	color: #ffffe0
}

.tip-error {
	background: #fff2f2;
	border: 1px solid #f44
}

.tip-error .tip-arrow
em {
	color: #f44
}

.tip-error .tip-arrow
i {
	color: #fff2f2
}

.tip-success {
	background: #f1ffe2;
	border: 1px solid #7dc25e
}

.tip-success .tip-arrow
em {
	color: #7dc25e
}

.tip-success .tip-arrow
i {
	color: #f1ffe2
}

.tip-success .tip-color-title {
	color: #090
}

.tip-help {
	background: #e5f5ff;
	border: 1px solid #c9d5e2
}

.tip-help .tip-arrow
em {
	color: #c9d5e2
}

.tip-help .tip-arrow
i {
	color: #e5f5ff
}

.tip-stop {
	background: #fceee8;
	border: 1px solid #f6c8b5
}

.tip-stop .tip-arrow
em {
	color: #f6c8b5
}

.tip-stop .tip-arrow
i {
	color: #fceee8
}

.tip-wait {
	background: #e5f5ff;
	border: 1px solid #c9d5e2
}

.tip-wait .tip-arrow
em {
	color: #c9d5e2
}

.tip-wait .tip-arrow
i {
	color: #e5f5ff
}

.tip-arrow {
	position: absolute;
	width: 16px;
	height: 14px;
	font-family: "SimSun"
}

.tip-arrow i,.tip-arrow
em {
	position: absolute;
	font-size: 14px;
	line-height: 1;
	font-style: normal;
	font-weight: normal
}

.tip-arrow
em {
	color: #d9d9d9
}

.tip-arrow
i {
	color: #f9f9f9
}

.tip-arrow-11,.tip-arrow-top,.tip-arrow-12,.tip-arrow-0,.tip-arrow-1 {
	top: -7px
}

.tip-arrow-2,.tip-arrow-3,.tip-arrow-right,.tip-arrow-4 {
	right: -10px
}

.tip-arrow-5,.tip-arrow-6,.tip-arrow-7,.tip-arrow-bottom {
	bottom: -8px;
	_bottom: -10px
}

.tip-arrow-8,.tip-arrow-9,.tip-arrow-left,.tip-arrow-10 {
	left: -7px
}

.tip-arrow-10,.tip-arrow-2 {
	top: 5px
}

.tip-arrow-8,.tip-arrow-4 {
	bottom: 5px
}

.tip-arrow-1,.tip-arrow-5 {
	right: 30px
}

.tip-arrow-7,.tip-arrow-11,.tip-arrow-top {
	left: 30px
}

.tip-arrow-9,.tip-arrow-left,.tip-arrow-3,.tip-arrow-right {
	top: 50%;
	margin-top: -7px
}

.tip-arrow-12,.tip-arrow-0,.tip-arrow-6 {
	left: 50%;
	margin-left: -8px
}

.tip-arrow-11 i,.tip-arrow-top i,.tip-arrow-12 i,.tip-arrow-0 i,.tip-arrow-1
i {
	top: 1px
}

.tip-arrow-2 i,.tip-arrow-3 i,.tip-arrow-right i,.tip-arrow-4
i {
	left: -1px
}

.tip-arrow-5 i,.tip-arrow-6 i,.tip-arrow-7 i,.tip-arrow-bottom
i {
	top: -1px
}

.tip-arrow-8 i,.tip-arrow-9 i,.tip-arrow-left i,.tip-arrow-10
i {
	left: 1px
}

.tip-line,span.tip-line {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	white-space: nowrap
}

.form-inline .tip-line {
	margin-top: 0;
	margin-bottom: 0
}

.tip-line {
	padding: 3px 10px
}

.form-small .tip-line {
	height: 24px;
	line-height: 22px
}

.tip-line
.btn {
	position: relative;
	top: -1px;
	*top: 1px;
	_top: 2px
}

.pre-wrap {
	white-space: pre-wrap;
	word-break: break-word
}

.tipcenter {
	margin-left: auto;
	margin-right: auto
}

.tip-nowrap {
	border: none;
	background: none
}

.tip-nowrap .tip-arrow {
	display: none
}

.tipbox-outer {
	margin: 60px auto;
	width: 700px
}

.tip-dense {
	margin: -10px 0
}

.tip-dense .tip-content {
	padding-left: 50px
}

.tip-dense .tip-icon-big {
	left: 14px
}