
{% extends "base.html" %}
{% load filter  %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/carts.css">
{% endblock head %}

{% block body %}
    
    <br>
    <section class="cartMain">
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品信息</li>
                <li class="list_info">商品参数</li>
                <li class="list_price">单价</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>

        
    <form action="../pay/" method="post" id="_form">
        <input type="text" value="" name="num" id="num" style="display: none">

        {% for foo in car %}
            <div class="cartBox">
            <div class="shop_info">
                <div class="all_check">
                    <!--店铺全选-->
                    <input type="checkbox" id="shop_{{ foo.store_id }}" class="shopChoice">
                    <label for="shop_{{ foo.store_id }}" class="shop"></label>
                </div>
                <div class="shop_name">
                    店铺：<a href="javascript:;">{{ foo.store }}</a>
                </div>
            </div>

            <div class="order_content">
                <ul class="order_lists">
                    <li class="list_chk">

                        <input type="checkbox" id="checkbox_{{ foo.id }}" name="goods" value="{{ foo.goods_id }}" class="son_check" onclick="changeText({{ foo.ccount }})">
                        <label for="checkbox_{{ foo.id }}"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img style="height: 93px;width: 115px" src="/static/media/{{ foo.goods.picture }}" alt=""></a></div>
                        <div class="list_text"><a style="margin-left: 70px" href="javascript:;">{{ foo.goods.title }}</a></div>
                    </li>
                    <li class="list_info">
                        <p>规格：默认</p>
                        <p>尺寸：16*16*3(cm)</p>
                    </li>
                    <li class="list_price">
                        <p class="price">￥{{ foo.goods.price }}</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" value="{{ foo.ccount }}" name="number" class="sum">


                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥{{   foo.goods.price |div:foo.ccount  }} </p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn" rel="{{ foo.goods_id }}" onclick="window.goods_id={{ foo.goods_id }}">移除商品</a></p>
                        <p class="del"><a href="javascript:;" class="shoucang" rel="{{ foo.goods_id }}">加入收藏</a></p>
                    </li>

                </ul>




            </div>
        </div>
        {% endfor %}


        <!--底部-->

        <div class="bar-wrapper" style="position: relative">
            <div class="bar-right">
                <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                <div class="calBtn"><a href="javascript:;" onclick="document.getElementById('_form').submit();">结算</a></div>
            </div>
        </div>
    </form>

    </section>

    <section class="model_bg"></section>
    <section class="my_model">
        <p class="title">删除宝贝<span class="closeModel">X</span></p>
        <p >您确认要删除该宝贝吗？</p>
        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
    </section>
	

	<div style="text-align:center;">

</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/carts.js"></script>


    <script>
     arr=new Array();
function changeText(id) {

    if (arr.includes(id)){
        arr.pop(id)
    }
    else {

        arr.push(id)
    }
    document.getElementById("num").value=arr;

}

{#加入/移除收藏夹#}
$(function(){
    $(".shoucang").click(function(){
        var zambia = $(this);
        var id = zambia.attr("rel"); //对应id
        $.ajax({
            type:"POST",
            url:"/jiashoucang",
            data:"id="+id,

            cache:false, //不缓存此页面
            success:function(data){

                html = '<span  style="color: #f4ea2a"class="iconfont icon-shoucang"></span> ' + data + '</a>';                zambia.html(html);

            }
        });


    });
})

{#移除购物车#}

$(function(){
    $(".dialog-sure").click(function(){


        $.ajax({
            type:"POST",
            url:"/quxiao_gouwuche",
            data:"id="+window.goods_id,

            success:function(data){

                html = '<span  style="color: #f4ea2a"class="iconfont icon-shoucang"></span> ' + data + '</a>';                zambia.html(html);

            }
        });


    });
})

    </script>
{% endblock body %}